.el-notification__content {
    text-align: left;
}
.el-input__wrapper {
    box-shadow: 0 0 0 1px #777e90 inset !important;
    border-radius: 8px;
}
.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px #0068ff inset !important;
}
