@use './element.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: SpaceMonoRegular;
    src: url('../font/SpaceMono-Regular.ttf');
}
body {
    background: #f28706;
    min-height: 100vh;
    font-family: 'Space Mono', SpaceMonoRegular;
}
