<template>
    <div class="flex justify-center items-center">
        <div class="flex justify-center items-center flex-col">
            <img class="w-[81px] h-[81px]" src="@/assets/image/logo.png" alt="" />
            <p class="text-center text-4xl font-bold mt-5">ECG</p>
            <p class="text-center text-[#696969] mt-2">Check eligibility for your airdrop!</p>
            <el-input
                v-model="state.address"
                class="mt-5"
                style="width: 400px"
                placeholder="Enter the Ethereum address holding TIP COIN"
            />
            <div
                v-if="persistStore.canBeClaimed"
                class="flex items-center mt-4"
                style="width: 400px"
            >
                <span>Can be claimed:</span>
                <span class="text-xl ml-1">{{ persistStore.canBeClaimed }}</span>
                <el-button
                    class="text-white ml-auto"
                    type="primary"
                    color="#000"
                    style="border-radius: 20px; color: #fff"
                    :loading="state.receiveLoading"
                    @click="claimPoints"
                >
                    Receive
                </el-button>
            </div>
            <el-button
                class="text-white mt-5"
                type="primary"
                color="#000"
                style="border-radius: 20px; color: #fff; width: 400px"
                @click="checkEligibility"
            >
                Check Eligibility
            </el-button>
            <div class="flex justify-center items-center gap-4 text-xs mt-6">
                <span class="font-bold">Etherscan</span>
                <a class="underline" href="https://t.me/ECGCOINBASEE" target="_blank">Telegram</a>
                <a class="underline" href="https://twitter.com/Project_ECG" target="_blank"
                    >X (Twitter)</a
                >
                <span>DEXTools</span>
            </div>
            <p class="text-[#BEBEBE] text-xs w-[440px] mt-6 text-center">
                BACKED BY P▮▮▮▮▮▮▮, A▮▮▮▮▮▮▮, S▮▮▮▮▮▮▮, U▮▮▮▮▮▮▮, P2▮▮▮▮▮▮, M▮▮▮▮▮▮▮, G▮▮▮▮▮▮▮,
                B▮▮▮▮▮▮▮, F▮▮▮▮▮▮▮, C▮▮▮▮▮▮▮
            </p>
        </div>
    </div>
</template>
<script setup>
import { reactive } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import {
    integralCheckBalanceAward,
    integralGetBalanceAward,
    twitterOauth1RequestToken,
} from '@/assets/api/index.js'
import { ElNotification } from 'element-plus'
import { usePersistStore } from '@/stores/persist.js'
import { metaMaskVerification, twitterAuthorization } from '@/utils/web3.js'

const router = useRouter()

const state = reactive({
    address: '',
    claimedEGC: 0,
    receiveLoading: false,
})
const persistStore = usePersistStore()

const checkEligibility = async () => {
    if (state.address == '') {
        ElNotification({
            title: 'Please enter content',
            type: 'error',
        })
        return
    }
    const res = await integralCheckBalanceAward({
        address: state.address,
    })
    if (res.code != 200) {
        ElNotification({
            title: res.message,
            type: 'error',
        })
        return
    }
    persistStore.canBeClaimed = res.data
}
const claimPoints = async () => {
    state.receiveLoading = true
    if (!persistStore.userInfo.token) {
        await twitterAuthorization()
        state.receiveLoading = false
        return
    }
    if (!persistStore.walletInfo.walletAddres) {
        const metaMaskRes = await metaMaskVerification()
        if (!metaMaskRes) {
            state.receiveLoading = false
            return
        }
    }
    const res = await integralGetBalanceAward({
        address: persistStore.walletInfo.walletAddres,
    })
    state.receiveLoading = false
    if (res.code == 200) {
        ElNotification({
            title: 'Received successfully',
            type: 'success',
        })
        router.push('/claim')
    } else {
        ElNotification({
            title: res.message,
            type: 'error',
        })
    }
}
</script>
<style lang="scss" scoped></style>
