<template>
    <div class="container mx-auto">
        <h1 class="text-6xl text-center mt-[70px] font-bold">MY CLAIMS</h1>
        <div class="border border-[#979797] rounded-full flex justify-around p-4 mt-8">
            <div class="flex flex-col items-center p-2">
                <p>VERIFICATION STATUS</p>
                <el-button
                    class="mt-3 mx-auto w-[140px]"
                    type="primary"
                    color="#000000"
                    style="border-radius: 20px"
                    @click="startNow"
                >
                    VERIFY
                </el-button>
            </div>
            <div class="h-100 w-[1px] bg-[#979797]"></div>
            <div class="flex flex-col items-center p-2">
                <p>TOTAL CLAIMS</p>
                <p class="text-center text-4xl mt-3">{{ state.canBeClaimed }}</p>
            </div>
            <div class="h-100 w-[1px] bg-[#979797]"></div>
            <div class="flex flex-col items-center p-2">
                <p>CLAIM WALLET</p>
                <el-button
                    class="mt-3 mx-auto w-[140px]"
                    type="primary"
                    color="#000000"
                    style="border-radius: 20px"
                    @click="onMetaMaskVerification"
                >
                    {{
                        persistStore.walletInfo.showWalletAddres
                            ? persistStore.walletInfo.showWalletAddres
                            : 'CONNECT'
                    }}
                </el-button>
            </div>
        </div>
        <el-table
            :data="state.tableDataList"
            border
            class="border-[#979797] text-black mt-16"
            style="width: 100%"
        >
            <el-table-column prop="rank" label="rank" width="80" />
            <el-table-column prop="twitterId" label="twitterId">
                <template #default="scope">
                    <a
                        class="underline hover:text-[#F28706] transition"
                        target="_blank"
                        :href="`https://twitter.com/${scope.row.twitterId}`"
                    >
                        {{ scope.row.twitterId }}
                    </a>
                </template>
            </el-table-column>
            <el-table-column prop="award" label="award" />
            <el-table-column prop="interaction" label="interaction" />
        </el-table>
        <div class="mt-20 px-10 text-center">
            After an epoch, our system take a couple days to filter through bots and make points
            adjustments. Please check back regularly. Raw epoch points do not take into account
            missed tweets or outdated calculations,once our system is done processing, you will see
            an accurate number under adjusted epoch points.
        </div>
    </div>
</template>
<script setup>
import { onMounted, reactive } from 'vue'
import { integralGetInfo, integralGetLog } from '@/assets/api/index.js'
import { metaMaskVerification, twitterAuthorization } from '@/utils/web3.js'
import { usePersistStore } from '@/stores/persist.js'
import { ElNotification } from 'element-plus'

const persistStore = usePersistStore()
const state = reactive({
    canBeClaimed: 0,
    tableDataList: [],
})
onMounted(() => {
    getIntegralGetInfo()
    getintegralGetLog()
})
const getIntegralGetInfo = async () => {
    const res = await integralGetInfo()
    state.canBeClaimed = res.data.balance
}
const getintegralGetLog = async () => {
    const res = await integralGetLog()
    state.tableDataList = res.data
}
const onMetaMaskVerification = async () => {
    if (!persistStore.userInfo.token) {
        twitterAuthorization()
        return
    }
    if (persistStore.walletInfo.walletAddres) {
        ElNotification({
            title: 'Connected',
            type: 'success',
        })
    } else {
        metaMaskVerification()
    }
}
const startNow = () => {
    window.open(
        `https://twitter.com/intent/tweet?url=${'https://www.ecgcoin.io/airdrop'}&text=${encodeURIComponent(
            'Just joined Epoch 1 of #ECG $ECG from @project_ecg.Get free eco points!Protect the world!Be a hero ! Be safe! Be rich!Join the airdrop now at'
        )}`,
        '_blank'
    )
}
</script>
<style lang="scss">
::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    border-radius: 8px;
}
.cell {
    color: #000;
    text-align: center;
}
</style>
