<template>
    <div class="container mx-auto">
        <h1 class="text-6xl text-center mt-[70px] font-bold">The future of social interaction</h1>
        <p class="text-[#555555] text-base text-center mt-2">
            Reward friends and your favorite creators without leaving the comfort of Twitter/X
        </p>
        <div class="flex justify-center mt-8 gap-4">
            <el-button class="w-[125px]" type="primary" color="#000000" style="border-radius: 20px">
                ARN POINTS
            </el-button>
            <el-button class="w-[125px]" style="border-radius: 20px" @click="scrollIntoView">
                LEARN MORE
            </el-button>
        </div>
        <hr class="my-14" />
        <div class="flex gap-6">
            <div class="w-7/12">
                <p class="text-3xl">How points work:</p>
                <p class="text-sm text-[#555555] mt-4">
                    Earning points is simple - just use Twitter!
                </p>
                <p class="text-sm text-[#555555] mt-4">
                    Reply, quote, or tweet out mentioning
                    <span class="border rounded-lg py-0 p-2 mx-2">$ECGs </span>
                    will automatically be awarded points!
                </p>
                <p class="text-sm text-[#555555] mt-4">
                    Depending on the type of tip, your multiplier will change as follows:
                </p>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8 border" src="@/assets/image/ecg1.png" alt="" />
                    <div class="ml-4">
                        <p class="">Original Tweet</p>
                        <p class="text-[#828282] text-sm">30x point multiplier</p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8 border" src="@/assets/image/ecg2.png" alt="" />
                    <div class="ml-4">
                        <p class="">Tipped Quote</p>
                        <p class="text-[#828282] text-sm">10x point multiplier</p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8 border" src="@/assets/image/ecg3.png" alt="" />
                    <div class="ml-4">
                        <p class="">Tipped Reply</p>
                        <p class="text-[#828282] text-sm">1x point multiplier</p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8 border" src="@/assets/image/ecg4.png" alt="" />
                    <div class="ml-4">
                        <p class="">Replied kickbacks</p>
                        <p class="text-[#828282] text-sm">1/10 points per tip</p>
                    </div>
                </div>
                <p class="text-sm text-black mt-12 max-w-[500px]">
                    And remember keep an eye out, there might be additional multipliers at claim...
                </p>
            </div>
            <div class="w-5/12 border rounded-xl p-4">
                <p class="text-3xl text-center font-bold">Expected Point Calculator</p>
                <div class="py-6 flex">
                    <div class="flex-1">
                        <p>Tweet Type:</p>
                        <el-select
                            v-model="state.value"
                            class="mt-2"
                            placeholder="Select"
                            size="large"
                        >
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                            />
                        </el-select>
                        <div>
                            <p class="flex items-center mt-4">
                                <img class="w-5" src="@/assets/image/ecg18.png" alt="" />
                                <span class="ml-2">Views</span>
                            </p>
                            <div class="flex items-center gap-6">
                                <span>0</span>
                                <el-slider
                                    v-model="state.calculator1"
                                    :step="10000"
                                    :max="100000"
                                    show-stops
                                />
                                <span>100K+</span>
                            </div>
                        </div>
                        <div>
                            <p class="flex items-center mt-4">
                                <img class="w-5" src="@/assets/image/ecg14.png" alt="" />
                                <span class="ml-2">Likes</span>
                            </p>
                            <div class="flex items-center gap-6">
                                <span>0</span>
                                <el-slider
                                    v-model="state.calculator2"
                                    :step="100"
                                    :max="1000"
                                    show-stops
                                />
                                <span>1K+</span>
                            </div>
                        </div>
                        <div>
                            <p class="flex items-center mt-4">
                                <img class="w-5" src="@/assets/image/ecg27.png" alt="" />
                                <span class="ml-2">Replies</span>
                            </p>
                            <div class="flex items-center gap-6">
                                <span>0</span>
                                <el-slider
                                    v-model="state.calculator3"
                                    :step="100"
                                    :max="1000"
                                    show-stops
                                />
                                <span>1K+</span>
                            </div>
                        </div>
                        <div>
                            <p class="flex items-center mt-4">
                                <img class="w-5" src="@/assets/image/ecg19.png" alt="" />
                                <span class="ml-2">Quotes</span>
                            </p>
                            <div class="flex items-center gap-6">
                                <span>0</span>
                                <el-slider
                                    v-model="state.calculator4"
                                    :step="10"
                                    :max="100"
                                    show-stops
                                />
                                <span>100+</span>
                            </div>
                        </div>
                        <div>
                            <p class="flex items-center mt-4">
                                <img class="w-5" src="@/assets/image/ecg17.png" alt="" />
                                <span class="ml-2">Retweets</span>
                            </p>
                            <div class="flex items-center gap-6">
                                <span>0</span>
                                <el-slider
                                    v-model="state.calculator5"
                                    :step="10"
                                    :max="100"
                                    show-stops
                                />
                                <span>100+</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-[1px] h-100 mx-4 bg-[#979797]"></div>
                    <div class="flex-1">
                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg18.png" alt="" />
                            <div class="ml-4">
                                <p class="">{{ state.calculator1 }} points</p>
                                <p class="text-[#828282] text-sm">1 point per view</p>
                            </div>
                        </div>
                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg14.png" alt="" />
                            <div class="ml-4">
                                <p class="">{{ state.calculator2 * 1000 }} points</p>
                                <p class="text-[#828282] text-sm">100 points per like</p>
                            </div>
                        </div>
                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg27.png" alt="" />
                            <div class="ml-4">
                                <p class="">{{ state.calculator3 * 250 }} points</p>
                                <p class="text-[#828282] text-sm">250 points per reply</p>
                            </div>
                        </div>
                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg19.png" alt="" />
                            <div class="ml-4">
                                <p class="">{{ state.calculator4 * 500 }} points</p>
                                <p class="text-[#828282] text-sm">500 points per quote</p>
                            </div>
                        </div>
                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg17.png" alt="" />
                            <div class="ml-4">
                                <p class="">{{ state.calculator4 * 1000 }} points</p>
                                <p class="text-[#828282] text-sm">1K points per retweet</p>
                            </div>
                        </div>

                        <div class="flex items-center mb-6">
                            <img class="w-5" src="@/assets/image/ecg10.png" alt="" />
                            <div class="ml-4">
                                <p class="">30x for tweets</p>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span>Total Points:</span>
                                <span>{{
                                    state.calculator1 +
                                    state.calculator2 * 1000 +
                                    state.calculator3 * 250 +
                                    state.calculator4 * 500 +
                                    state.calculator4 * 1000
                                }}</span>
                            </p>
                            <p class="text-[#828282] text-sm">MINIMUM OF 100,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-14" />
        <div id="elementId">
            <h1 class="text-6xl text-center mt-[70px]">THE PROCESS</h1>
            <p class="text-center text-[#555555] mt-6 px-10">
                ECG coin works off of 1 week epochs that started on September 1st, 2023 at 8:00AM
                EST (our birthday!). Points earned during an epoch can be claimed for $ECG tokens
                during the following epoch.
            </p>
            <div class="flex gap-8 mt-10 items-center">
                <div class="border flex-1 p-6 py-8 rounded-lg">
                    <img class="w-[36px]" src="@/assets/image/ecg16.png" alt="" />
                    <p class="text-gl text-black my-2">Earn points</p>
                    <p class="text-[#828282] text-sm">
                        Send tweets mentioning us (see above) during the epoch to earn points and
                        compete with friends
                    </p>
                </div>
                <img src="@/assets/image/ecg15.png" class="w-[15px]" alt="" />
                <div class="border flex-1 p-6 py-8 rounded-lg">
                    <img class="w-[36px]" src="@/assets/image/ecg17.png" alt="" />
                    <p class="text-gl text-black my-2">Point Calculations</p>
                    <p class="text-[#828282] text-sm">
                        We add up all of your mentions and continuously recalculate engagement to
                        update your points
                    </p>
                </div>
                <img src="@/assets/image/ecg15.png" class="w-[15px]" alt="" />
                <div class="border flex-1 p-6 py-8 rounded-lg">
                    <img class="w-[36px]" src="@/assets/image/ecg18.png" alt="" />
                    <p class="text-gl text-black my-2">Token Calculations</p>
                    <p class="text-[#828282] text-sm">
                        We determine your percentage of the epoch's token allotment using points and
                        account status
                    </p>
                </div>
                <img src="@/assets/image/ecg15.png" class="w-[15px]" alt="" />
                <div class="border flex-1 p-6 py-8 rounded-lg">
                    <img class="w-[36px]" src="@/assets/image/ecg19.png" alt="" />
                    <p class="text-gl text-black my-2">Earn Tokens</p>
                    <p class="text-[#828282] text-sm">
                        Claim your percentage of the previous epoch tokens from the dashboard in the
                        next epoch
                    </p>
                </div>
            </div>
        </div>
        <hr class="my-14" />
        <div class="flex gap-20">
            <div class="border rounded-xl flex-1 p-8">
                <Calendar />
            </div>
            <div class="flex-1">
                <p>Get Started</p>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8" src="@/assets/image/ecg23.png" alt="" />
                    <div class="ml-4">
                        <p class="">Connect Account</p>
                        <p class="text-[#828282] text-sm">
                            Link your twitter to create your ECG account
                        </p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8" src="@/assets/image/ecg24.png" alt="" />
                    <div class="ml-4">
                        <p class="">Send join message</p>
                        <p class="text-[#828282] text-sm">Send out your join message to activate</p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8" src="@/assets/image/ecg25.png" alt="" />
                    <div class="ml-4">
                        <p class="">Start earning points</p>
                        <p class="text-[#828282] text-sm">
                            Keep tweeting every epoch to generate points
                        </p>
                    </div>
                </div>
                <div class="flex items-center mt-6">
                    <img class="w-8 h-8" src="@/assets/image/ecg26.png" alt="" />
                    <div class="ml-4">
                        <p class="">Claim</p>
                        <p class="text-[#828282] text-sm">
                            Claim your points for ECG tokens after each epoch
                        </p>
                    </div>
                </div>
                <el-button
                    class="w-full mt-20"
                    type="primary"
                    color="#000000"
                    style="border-radius: 20px"
                    @click="startNow"
                >
                    START NOW
                </el-button>
            </div>
        </div>
    </div>
</template>
<script setup>
import { reactive, onMounted } from 'vue'
import { ElNotification } from 'element-plus'
import { twitterOauth1RequestToken } from '@/assets/api/index.js'
import Calendar from '@/components/Calendar.vue'

const state = reactive({
    value: 'Original Tweet',
    calculator1: 50000,
    calculator2: 300,
    calculator3: 200,
    calculator4: 50,
    calculator5: 70,
})
const options = [
    {
        value: 'Original Tweet',
        label: 'Original Tweet',
    },
    {
        value: 'Tipped Quote',
        label: 'Tipped Quote',
    },
    {
        value: 'Tipped Reply',
        label: 'Tipped Reply',
    },
    {
        value: 'Tipped Kickback',
        label: 'Tipped Kickback',
    },
]
const startNow = () => {
    window.open(
        `https://twitter.com/intent/tweet?url=${'https://www.ecgcoin.io/airdrop'}&text=${encodeURIComponent(
            'Just joined Epoch 1 of #ECG $ECG from @project_ecg.Get free eco points!Protect the world!Be a hero ! Be safe! Be rich!Join the airdrop now at'
        )}`,
        '_blank'
    )
}
const scrollIntoView = () => {
    const element = document.getElementById('elementId')
    element.scrollIntoView({
        behavior: 'smooth',
        block: 'start',
    })
}
</script>
<style lang="scss">
::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    border-radius: 8px;
}
.el-slider__bar {
    background-color: #000;
}
.el-slider__button {
    border: 2px solid #000;
}
</style>
