<template>
    <div>
        <div class="text-xl text-center font-bold py-4">
            Epochs in {{ currentYear }} {{ currentMonth }}
        </div>
        <div class="container min-w-[500px]">
            <div
                v-for="(item, index) in header"
                :key="index"
                class="border border-[#979797] rounded-xl text-center bg-[#F3F5F6] px-3 mb-4">
                {{ item }}
            </div>
            <div
                v-for="(item, index) in lastMonthSurplusDayArray"
                :key="index"
                class="border border-[#979797] rounded-xl text-center bg-[#F3F5F6]">
                {{ item }}
            </div>
            <div
                v-for="(item, index) in currentMonthDayCount"
                :key="index"
                class="border border-[#20C71E] rounded-xl text-center text-[#20C71E]">
                {{ item }}
            </div>
            <div
                v-for="(item, index) in nextMonthSurplusDayArray"
                :key="index"
                class="border border-[#979797] rounded-xl text-center bg-[#F3F5F6]">
                {{ item }}
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { reactive, ref, onMounted } from 'vue'
// const header = reactive<string[]>(['日', '一', '二', '三', '四', '五', '六'])
const header = reactive<string[]>(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])
// 上个月剩余天数
const lastMonthSurplusDay = ref<number>(0)
const lastMonthSurplusDayArray = ref<number[]>([])
// 下个月剩余天数
const nextMonthSurplusDay = ref<number>(0)
const nextMonthSurplusDayArray = ref<number[]>([])
// 当前月份总天数
const currentMonthDayCount = ref<number>(0)
const currentYear = ref<number>(0)
const currentMonth = ref<number>(0)
const currentDate = ref<number>(0)
// 闰年
const leapMonthDay = reactive<number[]>([31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])
// 平年
const normalMonthDay = reactive<number[]>([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])
// 是否为闰年
function isLeapYear(year: number) {
    return (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0
}
// 获取这个月1号的星期数
function getMonthFirstDay(year: number, month: number) {
    return new Date(year, month - 1, 1).getDay()
}
// 计算日期
function calculateDays() {
    // 获取本月第一天星期几(星期几就补多少个空)
    // lastMonthSurplusDay.value = getMonthFirstDay(currentYear.value, currentMonth.value)
    lastMonthSurplusDay.value =
        getMonthFirstDay(currentYear.value, currentMonth.value) === 0
            ? 6
            : getMonthFirstDay(currentYear.value, currentMonth.value) - 1
    // 获取当前月有多少天
    currentMonthDayCount.value = isLeapYear(currentYear.value)
        ? leapMonthDay[currentMonth.value - 1]
        : normalMonthDay[currentMonth.value - 1]
    let prevMonthLastDate = 0
    if (currentMonth.value === 1) {
        // 当前是1月还要用去年的去判断
        prevMonthLastDate = isLeapYear(currentYear.value - 1)
            ? leapMonthDay[leapMonthDay.length - 1]
            : normalMonthDay[normalMonthDay.length - 1]
    } else {
        prevMonthLastDate = isLeapYear(currentYear.value)
            ? leapMonthDay[currentMonth.value - 2]
            : normalMonthDay[currentMonth.value - 2]
    }
    // 获取还需要渲染多少天
    nextMonthSurplusDay.value = 42 - (lastMonthSurplusDay.value + currentMonthDayCount.value)
    const prevtemp = []
    const nexttemp = []
    for (let i = prevMonthLastDate - lastMonthSurplusDay.value + 1; i <= prevMonthLastDate; i++) {
        prevtemp.push(i)
    }
    for (let i = 1; i <= nextMonthSurplusDay.value; i++) {
        nexttemp.push(i)
    }
    lastMonthSurplusDayArray.value = prevtemp
    nextMonthSurplusDayArray.value = nexttemp
}
// 上个月
function preMonth() {
    if (currentMonth.value === 1) {
        currentMonth.value = 12
        --currentYear.value
    } else {
        --currentMonth.value
    }
    calculateDays()
}
// 下个月
function nextMonth() {
    if (currentMonth.value === 12) {
        currentMonth.value = 1
        ++currentYear.value
    } else {
        ++currentMonth.value
    }
    calculateDays()
}
// 获取当前日期
function getCurrentDate() {
    const d = new Date()
    const year = d.getFullYear()
    const month = d.getMonth() + 1
    const date = d.getDate()
    return {
        year,
        month,
        date
    }
}
// 初始化日历
function initCalendar() {
    const { year, month, date } = getCurrentDate()
    currentYear.value = year
    currentMonth.value = month
    currentDate.value = date
    calculateDays()
}
onMounted(() => {
    initCalendar()
})
</script>

<style scoped>
.container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 10px 38px;
}
</style>
