/** * @file * @author 何明暄 */
<template>
    <div class="py-14 border-t-2">
        <p class="text-center">@ 2023 ECG Coin legal Stuff</p>
    </div>
</template>
<script setup>
import { reactive, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
const route = useRoute()
const router = useRouter()
const state = reactive({
    routeIndex: '/'
})
watch(
    () => route.path,
    (newPath, oldPath) => {
        state.routeIndex = newPath
    },
    { immediate: true }
)
</script>
<style lang="scss" scoped>
.active-header {
    border-radius: 20px;
    color: #fff;
    background: #000000;
}
</style>
