/** * @file * @author 何明暄 */
<template>
    <div
        class="relative bg-[#fff] overflow-hidden flex justify-between items-center px-12 border-b border-[#CCCCCC] h-[50px]">
        <div class="flex items-center">
            <div class="text-black font-bold">
                <img class="w-8" src="@/assets/image/ecg0.png" alt="" />
            </div>
            <div class="ml-16 flex justify-center gap-5">
                <a
                    v-for="item in state.menuList"
                    href="#"
                    class="px-6 py-1 text-sm flex justify-center items-center text-[#555555] w-[86px]"
                    :class="{ 'active-header': state.routeIndex == item.path }"
                    @click="router.push(item.path)">
                    {{ item.title }}
                </a>
            </div>
        </div>

        <el-button
            class=""
            type="primary"
            color="#000000"
            style="border-radius: 20px"
            @click="onConnectWallet">
            <svg
                t="1697078452297"
                class="icon mr-2"
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="7473"
                width="20"
                height="20">
                <path
                    d="M960.512 64h-78.208L578.88 404.16 341.696 64H74.432L428.8 572.288 64 981.312h78.208l320.96-359.808 250.88 359.808h267.264l-368.128-528L960.512 64z m-640.064 44.16l229.184 328.768 34.304 49.216 314.496 451.008h-163.136L492.416 588.736l-34.304-49.216-300.8-431.36h163.136z"
                    p-id="7474"
                    fill="#ffffff"></path>
            </svg>
            {{ persistStore.userInfo.token ? 'LOGOUT' : 'LOGIN' }}
        </el-button>
    </div>
</template>
<script setup>
import { reactive, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { metaMaskVerification, twitterAuthorization } from '@/utils/web3.js'
import { usePersistStore } from '@/stores/persist.js'
import { userDoLong } from '@/assets/api/index.js'

const persistStore = usePersistStore()
const route = useRoute()
const router = useRouter()
const state = reactive({
    routeIndex: '/',
    menuList: [
        {
            title: 'AIRDROP',
            path: '/airdrop'
        },
        {
            title: 'STATS',
            path: '/stats'
        },
        {
            title: 'CLAIM',
            path: '/claim'
        }
    ]
})
watch(
    () => route.path,
    (newPath, oldPath) => {
        state.routeIndex = newPath
    },
    { immediate: true }
)
const onConnectWallet = async () => {
    if (persistStore.userInfo.token) {
        persistStore.walletLogoutLogin()
        ElNotification({
            title: 'Logged out',
            type: 'success'
        })
    } else {
        twitterAuthorization()
    }
}
</script>
<style lang="scss" scoped>
.active-header {
    border-radius: 20px;
    color: #fff;
    background: #000000;
}
</style>
