<script setup>
import { reactive, onMounted } from 'vue'
import { RouterView } from 'vue-router'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import { metaMaskAccountsChanged } from '@/utils/web3.js'
import { twitterOauth1AccessToken } from '@/assets/api/index.js'
import { usePersistStore } from '@/stores/persist.js'
import { getQueryString } from '@/utils/utils.js'

const persistStore = usePersistStore()
metaMaskAccountsChanged()
onMounted(async () => {
    console.log(getQueryString('code'))
    try {
        if (getQueryString('code')) {
            const res = await twitterOauth1AccessToken({
                code: getQueryString('code')
            })
            if (res.code === 200) {
                persistStore.userInfo.token = res.data
                setTimeout(() => {
                    removeQueryParams()
                }, 500)
            }
        } else {
            persistStore.canBeClaimed = 0
        }
    } catch (error) {}
})
function removeQueryParams() {
    let url = window.location.href
    const urlObject = new URL(url)
    urlObject.search = ''
    window.history.replaceState({}, document.title, urlObject.href)
}
</script>
<template>
    <Header />
    <RouterView id="RouterView" class="w-full pb-20" />
    <Footer />
</template>

<style scoped>
#RouterView {
    min-height: calc(100vh - 188px);
}
</style>
